<%- include('partials/header') -%>

  <h1 class="text-4xl">💣 Your message has been successfully delivered. I will get back with you as soon as possible. <a href="/">Back</a></h1>
  
<%- include('partials/footer') -%>
